
{% extends 'chat/_base.html' %}

{% block content %}
    <h1>Nossa política de privacidade</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorum suscipit at nulla quos eum maiores nemo assumenda blanditiis itaque! Reiciendis ullam nulla repellendus voluptatum iste perferendis amet ipsum quibusdam.
    Eligendi veritatis porro blanditiis placeat culpa assumenda commodi, quasi voluptatum dolores ducimus illo cum maiores! Id necessitatibus dolorem reiciendis molestiae, voluptatibus assumenda aliquam consequuntur magnam aliquid provident earum quisquam accusamus.
    Unde placeat harum porro veritatis expedita ullam eaque nesciunt ducimus, officia illo aut ex corporis quo natus provident reiciendis dicta doloribus, dignissimos magni. Autem quod culpa ullam, quia nemo ex.
    Quis, nesciunt ipsa ex laboriosam dolore fuga error eos sit fugiat earum aperiam amet optio voluptatum tempora natus voluptatibus culpa excepturi obcaecati recusandae voluptates reiciendis odio, dolorum at iusto. Alias!
    Quasi voluptatibus dignissimos amet omnis nihil repellat, ipsum laudantium quisquam officiis eaque corporis cumque fugit ad qui totam, itaque, iure perferendis tempora architecto dolorum minus? Voluptatibus, voluptatum eum! Hic, ipsum.
    Quas, ad exercitationem optio tempore harum temporibus earum repellat id eius explicabo quos omnis asperiores saepe eaque voluptate alias! Voluptas optio velit debitis, suscipit rerum cupiditate in commodi voluptates excepturi.
    Facilis totam architecto explicabo, doloremque modi quibusdam magni possimus dolorum voluptate laboriosam similique fugit, animi voluptates dignissimos a nulla et quaerat molestiae cum obcaecati eos, ad expedita eveniet. Iusto, obcaecati.
    Sunt dolorem laborum aperiam, eius quisquam numquam sequi accusamus ratione hic commodi perspiciatis, labore cum dolorum molestiae tempore? Quisquam ea aliquid placeat, aspernatur facere quia amet. Earum quae provident quisquam!
    Asperiores magnam rerum voluptatem tenetur vero quo! Blanditiis dignissimos quis eaque praesentium at nemo cupiditate tenetur enim recusandae accusantium maiores necessitatibus magni quibusdam, dicta quasi nisi ad sed eos alias!
    Officia earum aspernatur sed obcaecati? Quos vitae reiciendis quia nemo iure voluptate adipisci quisquam placeat dicta quasi earum dolorum, ab architecto dignissimos nobis, explicabo blanditiis similique. Officiis sequi officia dolorum!</p>
{% endblock %}